.download_button{
  font-size:12px !important;
  color:#FFFFFF;
  background-image: linear-gradient(#3399f3, #3399f3 50%, #3399f3);
  border:0px;
}

.diff_button{
  font-size:12px !important;
  color:#FFFFFF;
  background: #404040;
  border:0px;
  white-space: pre-line
}

.sidebar{
  font-size:90% !important;
}

.charts{
  overflow:auto;
  height:60vh;
  widh:70vh;
  position:relative;
}


.maps{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:auto;
  margin: 0 auto;
  height:100vh;
}
/*  position:absolute;*/
/*
#selectScenarios  div  div  button{
  font-size: 90%;
  height:25px !important;
}
#selectRefScenarios .dropdown-toggle{
  font-size: 90%;
  height:25px !important;
}
#selectParams .dropdown-toggle{
  font-size: 90%;
  height:25px !important;
}
*/
body > div > div.row > div.col-sm-4 > form > div:nth-child(2) > div > div.input-group > input{
  font-size:90%;
  height:25px !important;
}
body > div > div.row > div.col-sm-4 > form > div:nth-child(2) > div > div.input-group > label > span{
  font-size:10px;
  height:25px !important;
}
body > div > div.row > div.col-sm-4 > form > div:nth-child(8) > div.input-group > input{
  font-size:10px;
  height:25px !important;
}
body > div > div.row > div.col-sm-4 > form > div:nth-child(8) > div.input-group > label > span{
  font-size:10px;
  height:25px !important;
}
#filedata{
  font-size:90%;
  height:25px !important;
}
#urlfiledata{
  font-size:90%;
  height:25px !important;
}
#filedata_progress{
  height:17.5px;
  font-size:80%;
  margin-bottom: -4px
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
